*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo{
  margin-right: 20px;
  height: 60px;
}

#root{
  width: 100vw;
}

table{
  width: 100%;
}

th, td{
  border-bottom: 1px solid;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.385);
}

.buttons{
  width: 100%;
  display: flex;
}

.navH1{
  font-size: clamp(10px, 2vw, 50px);
}
.navH1a{
  display: none;
}

.links ul{
  display: flex;
}

.links ul a{
  text-decoration: none;
  color: black;
}
#output{
  margin-top: 20px;
  
}
#output p{
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.homeBase{
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.links ul li{
  padding: 0 10px;
  font-size: 2rem;
  list-style: none;
}

.ausgabe{
  display: flex;
  align-items: flex-start;
  width: 100vw;
}

.selector{
  margin: 15px;
 width: 50%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}

#news{
  padding: 10px 30px;
  width: 75%;
  margin: 5px;
  border-radius: 5px;
}


.newsi h2{
  font-size: 20px;
}

.newsi{
  padding: 10px 30px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.466);
  width: 100%;
  margin: 5px;
  border-radius: 5px;
}

.newsi a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.666);
}

#progs, #btn1, #btn2{
  font-size: 1.3rem;
  padding: 10px 15px;
  margin:5px;
  border: none;
  background-color: white;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.466);
  text-align: center;
  border-radius: 10px;
}

#burger{
  display: none;
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
}
#btn1, #btn2{
  width: 50%;
  cursor: pointer;
}
#btn1:hover, #btn2:hover{
  background-color: rgba(229, 229, 229, 0.33);
}


.head{
  font-size: clamp(1vw,1rem, 3vw)
}

.nav{
  position:relative;
}

.linker{
  display: none;
  position: absolute;
  top: 80px;
  right: 10px;
  z-index: 10;
  background-color: #a90c19;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);

}
.linker ul{
  list-style:none;
}
.linker ul li a{
  text-decoration: none;
  font-size: 2rem;
  font-weight:bold;
  color: white;
}

@media (max-width: 1150px){

  .homeBase{
    width: 90vw;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
  }

  #news{
    width: 90%;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 0;
  }

  .selector{
    width: 90%;
    justify-content: center;

  }


  .ausgabe{
width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .links{
    display: none;
  }
  .linker{
    display: block;
  }

  .linker ul li{
    padding: 10px 0;
    width: 100%;
  }
  .linker ul li a:hover{
    width:100%;
    background-color: black;
    color: #f8f5f5;
  }


  .linker#hidden{
    display:none;
  }
  #burger{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width:800px){



  .navH1{
    display: none
  }
  .navH1a{
    display:block;
  }

  .logo {
    margin-right: auto;
  }
}
